.tomatoTimer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 30px;
}

#timerIcon + p {
    margin-top: 10px;
}

#timerIcon {
    border: 1px solid yellow;
    background: center / contain no-repeat url('./tomato.png');
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

#timerIcon:hover {
    cursor: pointer;
}

.tomatoTimer > p {
    font-size: calc(10px + 1vmin);
}