li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

#deleteTask {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 20px;
    margin-left: 10px;
}

#deleteTask:hover {
    cursor: pointer;
    color: rgb(230, 21, 21);
}

#deleteTask:active {
    color: brown;
}

li + hr {
    border: none;
    border-top: 1px dashed white;
}

label > input[type='checkbox'] {
    margin-right: 1em;
}

input:checked + span  {
    text-decoration: line-through;
}

span {
    font-size: 16px;
}