.todoList {
    max-width: 70vw;
}

#todoTitle {
    font-size: 30px;
}

#addTask {
    border: none;
    margin-left: 5px;
    background-color: transparent;
    color: white;
    font-weight: 600;
}

#addTask:hover {
    cursor: pointer;
    color: gold;
}

#addTask:active {
    cursor: pointer;
    color: rgb(255, 136, 0);
}

#removeAll {
    border: none;
    background-color: #d82a2a;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 25px;
    color: white;
}

#removeAll:hover,
#removeAll:focus {
    cursor: pointer;
    background-color: #ff5353;
    box-shadow: 0px 0px 10px #ff5353;
}

#removeAll:active {
    background-color: #74342c;
}